<a href="https://colab.research.google.com/github/lcbjrrr/ML315/blob/main/ML4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/lcbjrrr/ML315/refs/heads/main/CreditRisk%20-%20tr.csv')
train.head(3)

   Default  Gender  Education  Profession  Income
0        1       1          4           1     1.4
1        0       2          7           9     2.6
2        0       1          7           9     5.8

In [ ]:
test = pd.read_csv('https://raw.githubusercontent.com/lcbjrrr/ML315/refs/heads/main/CreditRisk%20-%20ts.csv')
test.head(2)

   Default  Gender  Education  Profession  Income
0        1       1          4           1     1.4
1        0       2          7           9     2.6

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(train[['Gender','Education','Profession','Income']],train['Default'])
train_acc=knn.score(train[['Gender','Education','Profession','Income']],train['Default'])
print('Train Accuracy',train_acc*100)

Train Accuracy 100.0

In [ ]:
preds = knn.predict(test[['Gender','Education','Profession','Income']])
preds

array([1, 0, 0, 0, 0, 0, 0, 1])

In [ ]:
#print(test['Default'])

In [ ]:
from sklearn import metrics
test_acc = metrics.accuracy_score(test['Default'],preds)
print('Test Acc',test_acc*100)

Test Acc 100.0

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(test['Default'],preds)

array([[6, 0],
       [0, 2]])

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(test['Default'],preds))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         6
           1       1.00      1.00      1.00         2

    accuracy                           1.00         8
   macro avg       1.00      1.00      1.00         8
weighted avg       1.00      1.00      1.00         8

In [ ]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(train[['Gender','Education','Profession','Income']],train['Default'])
train_acc=nb.score(train[['Gender','Education','Profession','Income']],train['Default'])
print('Train Accuracy',train_acc*100)

Train Accuracy 97.0

In [ ]:
preds = knn.predict(test[['Gender','Education','Profession','Income']])
preds
test_acc = metrics.accuracy_score(test['Default'],preds)
print('Test Acc',test_acc*100)
confusion_matrix(test['Default'],preds)

Test Acc 100.0

array([[6, 0],
       [0, 2]])

In [ ]:
print(classification_report(test['Default'],preds))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         6
           1       1.00      1.00      1.00         2

    accuracy                           1.00         8
   macro avg       1.00      1.00      1.00         8
weighted avg       1.00      1.00      1.00         8